<IfModule mod_rewrite.c>
# That was ONLY to protect you from 500 errors
# if your server did not have mod_rewrite enabled

RewriteEngine On
# RewriteBase /
# NOT needed unless you're using mod_alias to redirect

#RewriteCond %{REQUEST_URI}  !^/public($|/)
#RewriteRule ^(.*)$ public/$1 [L]
# Direct all requests to /public folder

</IfModule>

# Disable Directory listing
Options -Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

# block files which needs to be hidden, specify .example extension of the file


php_value max_input_vars 2000
